.logo-icon {
  margin-right: 10px;
}

.full-width {
  width: 100%;
}

h1 {
  margin-top: 11px;
}

.mat-icon {
  margin-top: 12px;
}

.help {
  margin-right: 30px;
}

.refreshed-date {
  margin-top: 11px;
  font-size: 15px;
}

.online-user {
  margin-left: 30px;
}
