<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title class="manage-tab">
      Edit Resource Pools
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>

    <form (ngSubmit)="editPools()">
      <div *ngFor="let tab of tabs; let i = index;">
        <div *ngIf="i > 0">
          <mat-form-field>
            <input required matInput placeholder="* Pool name-" name="tabLabel{{i}}" [(ngModel)]="tab.label" autocomplete="off" />
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input required matInput placeholder="* Pool filter text" name="serviceFilter{{i}}" [(ngModel)]="tab.serviceFilter" autocomplete="off"
            />
            <mat-error>Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input required type="number" matInput placeholder="* Weight" name="weight{{i}}" [(ngModel)]="tab.allocation.weight" autocomplete="off"
            />
            <mat-error>Required</mat-error>
          </mat-form-field>

          <span>CPU: <strong>0</strong>; Memory: 0</span>
        </div>
      </div>
      <mat-form-field>
        <input required matInput placeholder="* New pool name" name="tabLabel" [(ngModel)]="newTab.label" autocomplete="off" />
        <mat-error>Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input required matInput placeholder="* New pool filter text" name="serviceFilter" [(ngModel)]="newTab.serviceFilter" autocomplete="off"
        />
        <mat-error>Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input required type="number" matInput placeholder="* Weight" name="weight" [(ngModel)]="newTab.allocation.weight" autocomplete="off"
        />
        <mat-error>Required</mat-error>
      </mat-form-field>

      <div>
        <mat-form-field>
          <input matInput placeholder="Master password" name="savepwd" [(ngModel)]="passwd" autocomplete="off" />
        </mat-form-field>
        <button mat-button color="primary" type="submit">Update pool</button>
      </div>
    </form>

  </ng-template>
</mat-expansion-panel>
